.annotations-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 210;

    .annotation {
        position: absolute;
        z-index: 300;

        .close-button {
            position: absolute;
            top: -10px;
            left: -15px;
            border-radius: 50%;
            background-color: black;
            color: #fff;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            cursor: pointer;
        }
    }

    .annotation-input-container {
        border: 1px solid #009688;
        padding: 10px 10px;
        border-radius: 0.7rem;
        background: white;
    }

    .annotation-text {
        color: #848484;
        background-color: #ffff0099;
        padding: 5px 15px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: move;
        pointer-events: auto;
    }

    .annotation-image {
        width: 100%;
        padding: 20px;
        background-color: #ffff0099;

        img {
            max-width: 150px;
            height: 100%;
            opacity: 0.8;
        }
    }
}